{% extends 'base.html' %}
{% load i18n %}

{% block style %}
  <style>
    body, .body {
			background-color: #DDD;
    }
    body:before {
        display: none;
    }
	.form-card {
		margin-top: 50px;
		padding: 15px;
	}
  </style>
{% endblock %}

{% block content %}
	<div class="form-card">
		<div class="head">
			<p>Allez a la page <a href="{% url 'user:login' %}" class="login"><span class="glyphicon glyphicon-hand-right"></span> Connexion</a></p>
			<p>Si vous avez oublie le mot de passe votre compte. Entrez votre email et nous vous enverons un lien de recuperation.</p>
		</div>
		<hr>
		<h3 class="text-center">Mot de passe oublie</h3>
		<form method="post">
			{% csrf_token %}
			<div class="row">
				<div class="input-field col s12">
					{{form.email}}
					<label for="id_email">Email</label>
				</div>
			</div>
			<div class="row text-center">
				<button class="btn btn-material btn-large" type="submit">
					<i class="glyphicon glyphicon-send"></i>
					Envoi l'Email de recuperation
				</button>
			</div>
		</form>
	</div>
{% endblock %}
{% block javascript %}
	<script>
		$(document).ready(function(){
			$("#id_email").addClass('form-element-field')
		})
	</script>
{% endblock javascript%}
