{% extends 'base.html' %}
{% load i18n %}

{% block style %}
  <style>
    form {
      max-width: 600px;
      margin: auto;
    }
  </style>
{% endblock %}

{% block content %}
  <div id="main">
      {% if validlink %}
        <h3 class="text-center">Changement de mot de passe</h3>
        <form method="post">
          {% csrf_token %}
          <div class="row">
            <div class="input-field col s12">
              {{form.new_password1}}
              <label for="id_new_password1">Nouveau mot de passe</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{form.new_password2}}
              <label for="id_new_password2">confirmation</label>
            </div>
          </div>
          <div class="row text-center">
            <button class="btn btn-material_success btn-large" type="submit">
              <i class="glyphicon glyphicon-floppy-saved"></i>
              Valider
            </button>
          </div>
        </form>
      {% else %}
        <p>
          Le lien de reinitialisation de passe est invalide,parce qu'il a probablement ete utilise ."%}
          SVP faites une nouvelle demande de reinitialisation de mot de passe
        </p>
        <p>
          SVP,allez a la page de <a href="{% url 'user:login' %}" id="login"><span class="glyphicon glyphicon-hand-right"></span>Connexion</a>
        </p>
      {% endif %}
  </div>
{% endblock %}
