{% extends 'base.html' %}
{% load i18n %}

{% block style %}
   <style>
     #main {
	      margin-top: 25px;
     }
   </style>
{% endblock %}

{% block content %}
  <div class="row" id="main">
    <div class="col-md-8">
      <p>
        Nous vous avons envoye des instructions pour configuer votre mot de passes, si un compte email existe avec l email que vous avez entrer. Vous devriez les recevoir dans sous peu de temps.
      </p>
      <p>
        Si vous ne recevez pas d email, svp assurez vous que vous avez entrez le bon email lors de votre enregistrement et verifiez votre dossiers de spam. Ou ,allez a la page de <a href="{% url 'user:login' %}" id="login"><span class="glyphicon glyphicon-hand-right"></span>Connexion</a>  pour une nouvelle demande a nouveau
      </p>
    </div>
  </div>
{% endblock %}
