{% extends 'base.html' %}
{% load i18n %}

{% block style %}
  <style>
    #main {
       margin-top: 25px;
    }

    #login {
       color: #07b642; 
    }
  </style>
{% endblock %}

{% block content %}
  <div class="row" id="main">
    <div class="col-md-offset-3 col-md-6">
      <p>
      Votre mot de passe a ete reinitialise. <br>
      SVP, Allez a la page de <a href="{% url 'user:login' %}" id="login"><span class="glyphicon glyphicon-hand-right"></span> Connexion</a> maintenant
      </p>
    </div>
  </div>
{% endblock %}
