{% extends 'base.html' %}
{% load permission_tags %}

{% block style %}
<style>
	body, .body {
		background-color: #DDD;
	}
	body:before {
        display: none;
    }
    .btn-lg {
		margin: 10px;
    }
    .navbar-inverse .navbar-nav>.active {
        border-bottom: 7px solid #DDD;
    }
</style>
{% endblock %}

{% block content %}
<form class="form-horizontal form-card" method="post">
	<fieldset class="form-fieldset">
		<legend class="form-legend">Changer mon mot de passe</legend>
		{% csrf_token %}
		<div class="row">
			<div class="input-field col s12">
				{{form.old_password}}
				<label for="id_old_password">Ancien mot de passe</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				{{form.new_password1}}
				<label for="id_new_password1">Nouveau mot de passe</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				{{form.new_password2}}
				<label for="id_new_password2">Confirmation</label>
			</div>
		</div>
		<div class="row text-center">
			<button type="submit" class="btn btn-material_success btn-large">
				<span class="glyphicon glyphicon-floppy-saved"></span> Valider
			</button>
			<a class="btn btn-material btn-large" href="javascript:history.go(-1)"><span class="glyphicon glyphicon-remove"></span> Annuler</a>
		</div>
	</fieldset>
</form>

{% endblock %}
{% block javascript %}
	<script>
		$(document).ready(function(){
			$("#id_old_password").addClass('form-element-field')
			$("#id_new_password1").addClass('form-element-field')
			$("#id_new_password2").addClass('form-element-field')
		})
	</script>
{% endblock javascript%}