{% extends 'base.html' %}
{% block style %}
   <style type="text/css">
     	.btn-send{background-color:#337ab7!important;color:#fff}#_login{color:#f0a2cd}#form{margin-top:1%}.well{background:#fff;opacity:.8}.head{margin-top:1%;padding:0}.head p a{background-color:transparent;color:#337ab7;text-decoration:none;padding:3px}.head p a:active,.head p a:hover{background:#337ab7;color:#fff;border-radius:3px}.buttonHolder{text-align:left}.buttonHolder input{font-weight:700;font-size:100%}.buttonHolder input:hover{cursor:pointer}
   </style>
{% endblock style %}

{% block content %}
		<div class="head row col-md-6 col-md-offset-3">
            <p>Your account has been successfully created. It will be activated soon, please wait.</p>
         </div>

{% endblock content %}