{% extends 'base.html' %}
{% load permission_tags %}
{% load crispy_forms_tags %}
{% block style %}


{% endblock %}

{% block content %}
<br><br>

<form class="form-horizontal form-card" method="post">
	<fieldset class="form-fieldset">
		<legend class="form-legend">Mettre a jour le mot de passe</legend>
		{% csrf_token %}

        <div class="row">
            <div class="input-field col s12">
                <input type="password" name="password" required class="form-control" id="id_password">
                <label for="id_password">Nouveau mot de passe</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="password" name="confirmation" required class="form-control" id="id_confirmation">  
                <label for="id_confirmation">Confirmation</label>
            </div>
        </div>

		<div class="row text-center">
			<button type="submit" class="btn btn-material_success btn-large">
				<span class="glyphicon glyphicon-floppy-saved"></span> Valider
			</button>
			<a class="btn btn-material btn-large" href="javascript:history.go(-1)"><span class="glyphicon glyphicon-remove"></span> Annuler</a>
		</div>
	</fieldset>
</form>

{% endblock %}
{% block javascript %}
	<script>
		$(document).ready(function(){
			$("#id_new_password1").addClass('form-element-field')
			$("#id_new_password2").addClass('form-element-field')
		})
	</script>
{% endblock javascript%}